*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/public/system/*
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

# Ignore bundler config
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# ignore database.yml
config/database.yml

# ignore secret_tocken.rb
config/initializers/secret_token.rb

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Ignore vimtags
tags
TAGS

pkg/
.idea/
doc/
/coverage
/coverage.data
/.yardoc

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.swo
*.md.html
